Hey {{name}}
Thanks for giving us your pleasure time.

Dear Customer.Thanks for Purchasing from Eten Heist. We are hoping that you would like the product we send you and you will recommend us to your friends.

Thanks for shopping on Eten Heist! You didn't just get a great deal - you also supported the growth of the Eten Heist community, which is pretty cool (at least we think so). Have questions or feedback? You can contact us anytime at ( etenheist@gmail.com)

Regards
Team Eten Heist

Questions? Contact us any time at etenheist@gmail.com
