{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Eten Heist-Checkout</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'accounts/bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'accounts/css/main.css' %}" />
          <link rel="shortcut icon" type="image/x-icon" href="{% static 'accounts/images/EtenHeist1.png'%}"/>
		<noscript><link rel="stylesheet" href="{% static 'accounts/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
                    <div  style="background-color: #FFC232; height:110px;  margin-top: -10px;margin-bottom: -60px;" class="inner">

                         <table style="width:100%">
                           <tr>
                             <td style=" width: 20px"><img  style= "width: 100px; height: 60px; margin-left: -25px; "src="{% static '/accounts/images/EtenHeist.png' %}">
                              
                              </td>
                              
                           
                                   <td style="width: 200px; height: 10px; vertical-align: top; "  >	<h1 style=" color: #B41A00; margin-left:-40px; margin-top:25px; font-size:25px;"><a href="{% url 'index' %}">Eten Heist</a> </h1> </td>
                                   <td></td>
                                   <td style="width: 200px; height: 10px; vertical-align: top; "  >	<h1 style=" color: #B41A00; margin-right:100px; margin-top:25px; font-size:20px;"><a href="{% url 'logout' %}" style="color:#B41A00;">Logout</a> </h1> </td>
                              </table>
                         </div>
                         
                                   <style>
				/*Change on the Body*/
				body{
					font-size: 17px;
					 font-style: oblique;
				}
				</style>

				<!-- Header -->
				<header id="header">
					<div class="inner">

						<!-- Logo -->
						

						<!-- Nav -->
							<nav>
								<ul>
									<li><a href="#menu">Menu</a></li>
								</ul>
							</nav>

					</div>
				</header>

			<!-- Menu -->
               <nav id="menu">
                    <h2>Menu</h2>
                    <ul>
                         <li><a href="{% url 'index'%}" class="active">Home</a></li>

                         <li><a href="{% url 'products'%}">Products</a></li>

                         <li><a href="{% url 'checkout'%}">Checkout</a></li>

                         <li><a href="{% url 'messages'%}" >messages</a></li>

                         <li>
                              <a href="#" class="dropdown-toggle">About</a>

                              <ul>
                                   <li><a href="{% url 'about'%}">About Us</a></li>
                                   <li><a href="{% url 'testimonials'%}">Testimonials</a></li>
                                   <li><a href="{% url 'terms'%}">Terms</a></li>
                              </ul>
                         </li>

                         <li><a href="{% url 'contact'%}">Contact Us</a></li>

                         <li><a href="{% url 'Login'%}">Login</a></li>
                         <li>
                              <a href="#" class="dropdown-toggle">Login</a>

                              <ul>
                                   <li><a href="{% url 'Login'%}" class="active">Login As Member</a></li>
                                   <li><a href="{% url 'register'%}">Register</a></li>
                                   <li><a href="{% url 'Admin_Login'%}">Login As Admin</a></li>

                              </ul>
                         </li>
                         <li><a href="{% url 'cart_detail'%}">Cart</a></li>


                    </ul>
               </nav>
    <!-- Page Content -->

                 <div class="row">
                   <div class="col-lg-12">


                      <div style="background:white; height: 560px;">
                      <br>   
	<div style="width:630px; height:560px; background-color:#DEF98C; float:right; border-radius:25px;"> 
	
	
	
          <img src="{% static '/accounts/images/ch1.jpg' %}" alt="food" width="630" height="560px" style= "border-radius:25px">
          </div>
     
                         <br><br><br><br><br><br>
                         <h1 style="margin-left: 300px; margin-top: -50px;color:#B41A00;font-size:70px;">Orders</h1>
                         <p style="margin-left: 250px; margin-top: -50px;font-size:20px;">Check your records of placed Order's</p>
                      </div>
                      <br>
<hr>

				
                      {% for data in Order reversed %}
                      <h2 style="color:#B41A00;">Order#{{data.id}}</h2>
                      <h2>Total Bill:{{data.TotalBill}} Rs</h2>
                      <h2>Status: {{data.Status}}</h2>
                      <h2>Time: {{data.Time}}</h2>
                      <table class="table table-striped">
                         <thead>
                               <tr>
                                   <th scope="col" style="background-color: #DEF98C;">Product</th>
                                   <th scope="col" style="background-color: #DEF98C;">Branch</th>
                                   <th scope="col" style="background-color: #DEF98C;">Type</th>
                                   <th scope="col" style="background-color: #DEF98C;">Quantity</th>
                                   <th scope="col" style="background-color: #DEF98C;">Price</th>
                               </tr>
                           </thead>
                           {% for pro in OrderProducts %}
                           {% if pro.OrderID == data %}
                           <tbody>
                                
                               <tr>
                                   <td>  {{pro.ProductName}} </td>
                                   <td>  {{pro.BranchName}} </td>
                                   <td>  {{pro.Type}} </td>
                                   <td>  {{pro.Quantity}} </td>
                                   <td>  {{pro.Price}} </td>
                               </tr>
                              
                           </tbody>
                           {% endif %}
                           {% endfor %}
                       </table>
                       {% endfor %}
                       
                       <div style="margin: auto;" class="col-sm-3 col-md-2">
                              <form method="post"style="background-color: #B41A00;" class="order-form" action="{% url 'store' %}" >
                              {% csrf_token %}


                                  <input class="btn btn-lg btn-block btn-success text-uppercase" type="submit" value="Order">

                              </form>
                            </div>
                       
                       <a class="btn btn-info" href="{% url 'pdf_view' %}" target="_blank">View Invoice</a>
                       <br> <br> 
                     
                  </div>
                 </div>

    <!-- Footer -->
    <footer id="footer">
     <div class="inner">
          <section>
               <h2 style="color: #B41A00;">Contact Us</h2>
               <form method="post" action="#">
                    {% csrf_token %}
                    <div class="fields">
                         <div class="field half">
                              <input type="text" name="name" id="name" placeholder="Name" />
                         </div>

                         <div class="field half">
                              <input type="text" name="email" id="email" placeholder="Email" />
                         </div>

                         <div class="field">
                              <input type="text" name="subject" id="subject" placeholder="Subject" />
                         </div>

                         <div class="field">
                              <textarea name="message" id="message" rows="3" placeholder="Notes"></textarea>
                         </div>

                         <div class="field text-right">
                              <label>&nbsp;</label>

                              <ul class="actions">
                                   <li><input type="submit" style="background-color: #B41A00;"value="Send Message" class="primary" /></li>
                              </ul>
                         </div>
                    </div>
               </form>
          </section>



          <section>
               <h2 style="color: #B41A00;">Contact Info</h2>

               <ul class="alt">
                    <li><span class="fa fa-envelope-o"></span> <a href="mailto:etenheist@gmail.com">etenheist@gmail.com</a></li>
                    <li><span class="fa fa-phone"></span> +92 333 3451111 </li>
                    <li><span class="fa fa-map-pin"></span>  Near Wapda Colony Multan, ABC 10001 Pakistan</li>
               </ul>

               <h2 style="color: #B41A00;">Follow Us</h2>

               <ul class="icons">
                    <li><a href="https://twitter.com/BottleFiltered/media" target="_blank" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/groups/125806782969369/?ref=share" target="_blank" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/filteredbottles/" target="_blank" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
               </ul>
          </section>

          <ul class="copyright">
               <li>Copyright © 2022 etenheist </li>
          </ul>
     </div>
</footer>

</div>

<!-- Scripts -->
<script src="{% static 'accounts/js/jquery.min.js' %}"></script>
<script src="{% static 'accounts/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'accounts/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'accounts/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'accounts/js/main.js' %}"></script>

  </body>
</html>
